---
import Layout from "../../layouts/Layout.astro";
import Card from "@/components/ui/card.astro";
import ProfileContent from "@/components/profile/ProfileContent.astro";
import { loadProfile } from "@/lib/profile-loader";

const { handle } = Astro.params;
const profile = await loadProfile(handle!);

if (!profile) {
  return Astro.redirect("/404");
}
---

<Layout title={`${profile.displayName} - Atmosphere Conference`}>
  <div class="w-full">
    <Card class="max-w-2xl mx-auto mt-8 p-8">
      <ProfileContent {...profile} />
    </Card>
  </div>
</Layout>
