---
import Layout from "../../layouts/Layout.astro";
import Card from "@/components/ui/card.astro";
import ProfileContent from "@/components/profile/ProfileContent.astro";
import { maybeGetLoggedInProfile } from "@/lib/profile";
import { loadProfile } from "@/lib/profile-loader";

const loggedInProfile = await maybeGetLoggedInProfile({ locals: Astro.locals });
if (!loggedInProfile) return Astro.redirect("/login");

const profile = await loadProfile(loggedInProfile.did);
if (!profile) return Astro.redirect("/login");
---

<Layout title="Profile - Atmosphere Conference">
  <div class="w-full">
    <Card class="max-w-2xl mx-auto mt-8 p-8">
      <ProfileContent {...profile} isOwnProfile={true} />
    </Card>
  </div>
</Layout>
